.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #282c34;
}

.createAccount{
  background-color: aliceblue;
  margin: 10%;
}

.headerCSS{
  background-color: aliceblue;
  margin: 5% 0% 0% 0%;  /*(Top) (Right) (Bottom) (Left)*/
  text-align: center;
  border-bottom: 2px solid black;
}

.nav-row {
  border-top: 2px solid black;
  text-align: center;
  height: 50px;
  padding-top: 2.5%;

}

.Page{
  margin: 5%;
  
}

.userForm{
  height: 50%;
  margin-left: 5%;
  margin-right: 5%;
  background-color:aliceblue;

}

.submitbtn{
  text-align: center;
  padding: 10px;

}

.input{
  text-align: center;
  padding-top: 10px;
}

