.App {
  text-align: center;
}
body{
  background-color: rgb(1, 1, 26);
}

.createAccount{
  background-color: aliceblue;
  margin: 10%;
}

.headerCSS{
  background-color: aliceblue;
  margin: 5% 0% 0% 0%;  /*(Top) (Right) (Bottom) (Left)*/
  text-align: center;
  border: 2px solid gold;
  border-bottom: 2px solid rgb(1, 1, 26);
  background-color: rgb(1, 1, 26);
  color: gold;
}

.nav-row {
  border-top: 2px solid gold;
  text-align: center;
  height: 50px;
  padding-top: 2.5%;
  background-color: aliceblue;
}

.Page{
  margin: 5%;
  
}

.userForm{
  height: 50%;
  margin-left: 5%;
  margin-right: 5%;
  background-color:aliceblue;

}

.submitbtn{
  text-align: center;
  padding: 10px;

}

.input{
  text-align: center;
  padding-top: 10px;
}

